html, body {
	background-color: #666699;
}

.myheader {
	text-align: center;
	margin-bottom: 80px; 
	margin-top: 55px;
	background-color: #666699;
} 

.input-group {
	width: 40%;  
	margin:0 auto;
	margin-bottom: 80px;
}

.results-container {
	width: 43%; 
	margin:0 auto;
}

.glyphicon {
	color: red;	
} 

#textInput {
	height: 46px;
	padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
	text-indent: 15px; 
} 

