html, body {
	background-color: #666699;
	margin-top: 45px; 
}

.low {
	background-color: #009933;
	border-radius: 3px;
	font-size: 18px;
	line-height: 1.3333333;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 1px;
	padding-left: 6px;
	padding-right: 6px;
}
.medium {
	background-color: #ff9933;
	border-radius: 3px;
	font-size: 18px;
	line-height: 1.3333333;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 1px;
	padding-left: 6px;
	padding-right: 6px;
}
.high {
	background-color: #cc0000;
	border-radius: 3px;
	font-size: 18px;
	line-height: 1.3333333;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 1px;
	padding-left: 6px;
	padding-right: 6px;
}

.myheader {
	text-align: center;
	margin-bottom: 80px; 
	margin-top: 55px;
	background-color: #666699;
} 

.input-group {
	width: 90%;  
	margin:0 auto;
	margin-bottom: 80px;
}

.results-container {
	width: 92%; 
	margin:0 auto;
}

.glyphicon {
	color: red;	
} 

#textInput {
	height: 46px;
	padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
	text-indent: 15px; 
} 

.displayedIndex {
	float: right;
}

 .footer {
	text-align: center;
	padding-top: 5px;
	/* background-color: #4e4e59;  */
}  

.footerContainer {
	background-color: #4e4e59; 
}

.mainContainer {
  display: flex;
  justify-content: center;
}

.mainContainer > div {
  flex: 1; /*grow*/
}

.leftContainer {
	text-align: right;
	width: 10%;
}

.rightContainer {
	text-align: left;
	width: 10%;
}

.centerContainer {
	width: 80%;
}
